/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Source+Sans+Pro&display=swap');

.dosis {
    font-family: 'Dosis', sans-serif;
}

.source-sans {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

.blue-text {
    color: #1F51A8;
}

h2 {
    font-size: 35px;
}

h5 {
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

li {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding-bottom: 19px;
}

.header-title {
    /* padding-top: 10px; */
}

.header-text {
    /* padding-top: 10px; */
}

.nav {
    background-color: #000324;
    height: 120px;
}

.nav-link {
    color: #FFFFFF;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

.nav-link:hover {
    color: #FFFFFF;
    outline: #E5FEFF solid 1px;
    outline-offset: -7px;
    /* margin: -1px; */  
}

.nav-nohover:hover {
    outline: none;
}

.navbar-default .navbar-right > li > a:visited
{ 
    color: #FFFFFF;
} 

/* .hero {
    background-image: url("./assets/pool.png");
    height: 10rem;
} */

.header {
    /* width: 100%; */
    height: 31.25rem;
    object-fit: cover;
    object-position: 50% 55%;
}

/* .container-fluid{
    padding-left: 0rem;
    padding-right: 0rem;
} */


/* Don't need this- header box overrides */
/* .header-text {
    text-align: center;
    color: #FFFFFF;
} */

header {
    height: 31.25rem;
    background-image: url("../assets/header.jpg");
    background-size: cover;
    background-position: 50% 55%;
}

.header-box {
    height: 14.5rem;
    width: 59.0625rem;
    background-color: rgba(0, 3, 36, .8);
    color: #E5FEFF;
}

.overview {
    /* background-color: beige; */
    height: 38.5rem; 
}

.ov-img {
    height: 416px;
    width: 369px;
    object-fit: cover;
}

.ov-text {
    padding-right: 10px;
    margin-top: 25px;
}

.overview-box {
    width: 768.5px;
    height: 416px;
    /* background-color: aqua; */
}

.award {
    width: 200px;
    height: fit-content;
}

.awards {
    margin-bottom: -50px;
}

#ov-col-2 {
    padding-left: 14px;
}

.rooms {
    height: 738px;
    background-image: url("../assets/bg2.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

#rooms-text {
    color: white;
    padding-top: 31px;
    padding-bottom: 29px;
    text-align: center;
}

.card-container {
    width: 1155px;
}

.card {
    height: 522px;
    width: 369px;
    border-radius: 0px;
    border: none;
    /* position: relative; */
}

.card-img-top {
    height: 190px;
    border-radius: 0;
    object-fit: none;
}

.card-btn {
    height: 50px;
    width: 150px;
    border-radius: 0;
    background-color: #004CC7;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 19px;
    left: 25px;
}

.packages {
    /* background-color: antiquewhite; */
    height: 969px;
    max-width: 1145px;
    padding-left: 0;
    padding-right: 0;
}

.pack-head {
    padding-top: 110px;
    padding-bottom: 15px;
}

.pack-subhead {
    padding-top: 20px;
}

.pack-img-1 {
    height: 234px;
    width: 561px;
    object-fit: cover;
    object-position: 50% 10%;
}

.pack-img-2 {
    height: 234px;
    width: 561px;
    object-fit: cover;
    object-position: 50% 32%;
}

.pack-img-3 {
    height: 234px;
    width: 561px;
    object-fit: cover;
    object-position: 50% 72%;
}


.pack-col-left {

    margin-right: 7.5px;
    max-width: 561px;
}

.pack-col-right {
    margin-left: 7.5px;

    max-width: 561px;
}

.amenities {
    height: 548px;
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    background-position: 50% 50%;
    color: #FFFFFF;
}

.am-head {
    padding-top: 50px;
}

/* .am-icon-row {
    max-width: 1150px;
} */

.am-text {
    font-size: 20px;
    font-weight: bold;
}

.am-item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 80px;
}

.am-text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 30px;
}

.reserve {
    height: 721px;
    max-width: 1137px;
}

.res-form {
    background-color: #000324;
    height: 207px;
    margin-top: 101px;
}

.res-img {
    height: 414px;
    background-image: url("../assets/hamsterreserve.jpg");
    background-size: cover;
    background-position: 50% 70%;
}

.res-header {
    color: #FFFFFF;
    padding-top: 25px;
}

.form-col {
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: start;
}

input, select {
    height: 38px;
    width: 177px;
}

.res-btn {
    border-radius: 0;
    background-color: #006EDB;
    color: #FFFFFF;
    border: 1px;
    border-color: #000DC7;
    height: 38px;
    width: 177px;
    font-size: 18px;
    font-weight: bold;
}

.form-cont {
    max-width: 975px;
}

.form-text {
    color: #E5FEFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    height: 12px;
}

.form-text-row {
    margin-top: -30px;
}

footer {
    height: 300px;
    background-color: #000324;
}

.foot-text-1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #E5FEFF;
    padding-top: 26px;
}

.foot-text-2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #E5FEFF;
    padding-top: 5px;
}

.foot-img {
    padding-top: 24px;
}